<span style="color:purple">
Title= "Mr"

Name= "Syed Saad ul Hassan"

email = "saadulhassanis@gmail.com"

whatsapp = "+491729024676"

Task: Take your Own Dataset and do as directed in Video 
</span>

# <span style="color:red"> 1. Libraries </span>

In [150]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# <span style="color:red"> Excel file import </span>

In [151]:
chilla = pd.read_csv("faostat_casestudy.csv")
chilla

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,79,Germany,5312,Area harvested,1717,"Cereals, Total",1961,1961,ha,7138919,A,"Aggregate, may include official, semi-official..."
1,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",1961,1961,hg/ha,24174,Fc,Calculated data
2,QCL,Crops and livestock products,79,Germany,5510,Production,1717,"Cereals, Total",1961,1961,tonnes,17257340,A,"Aggregate, may include official, semi-official..."
3,QCL,Crops and livestock products,79,Germany,5312,Area harvested,1717,"Cereals, Total",1962,1962,ha,7145685,A,"Aggregate, may include official, semi-official..."
4,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",1962,1962,hg/ha,29622,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",2019,2019,hg/ha,69520,Fc,Calculated data
176,QCL,Crops and livestock products,79,Germany,5510,Production,1717,"Cereals, Total",2019,2019,tonnes,44302400,A,"Aggregate, may include official, semi-official..."
177,QCL,Crops and livestock products,79,Germany,5312,Area harvested,1717,"Cereals, Total",2020,2020,ha,6065200,A,"Aggregate, may include official, semi-official..."
178,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",2020,2020,hg/ha,71333,Fc,Calculated data
179,QCL,Crops and livestock products,79,Germany,5510,Production,1717,"Cereals, Total",2020,2020,tonnes,43265100,A,"Aggregate, may include official, semi-official..."

# <span style="color:red"> Deleting Rows and Column </span>

### Delete multiple consecutive Rows

In [152]:
# delete multiple rows consecutive
chilla= chilla.drop(chilla.index[1:3])
# delete consecutive rows
chilla=chilla.drop(5)
chilla

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,79,Germany,5312,Area harvested,1717,"Cereals, Total",1961,1961,ha,7138919,A,"Aggregate, may include official, semi-official..."
3,QCL,Crops and livestock products,79,Germany,5312,Area harvested,1717,"Cereals, Total",1962,1962,ha,7145685,A,"Aggregate, may include official, semi-official..."
4,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",1962,1962,hg/ha,29622,Fc,Calculated data
6,QCL,Crops and livestock products,79,Germany,5312,Area harvested,1717,"Cereals, Total",1963,1963,ha,7168885,A,"Aggregate, may include official, semi-official..."
7,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",1963,1963,hg/ha,29252,Fc,Calculated data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",2019,2019,hg/ha,69520,Fc,Calculated data
176,QCL,Crops and livestock products,79,Germany,5510,Production,1717,"Cereals, Total",2019,2019,tonnes,44302400,A,"Aggregate, may include official, semi-official..."
177,QCL,Crops and livestock products,79,Germany,5312,Area harvested,1717,"Cereals, Total",2020,2020,ha,6065200,A,"Aggregate, may include official, semi-official..."
178,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",2020,2020,hg/ha,71333,Fc,Calculated data
179,QCL,Crops and livestock products,79,Germany,5510,Production,1717,"Cereals, Total",2020,2020,tonnes,43265100,A,"Aggregate, may include official, semi-official..."

### Delete Alternate Rows

In [153]:
chilla= chilla.drop([3,4,6,7])
chilla

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,79,Germany,5312,Area harvested,1717,"Cereals, Total",1961,1961,ha,7138919,A,"Aggregate, may include official, semi-official..."
8,QCL,Crops and livestock products,79,Germany,5510,Production,1717,"Cereals, Total",1963,1963,tonnes,20970320,A,"Aggregate, may include official, semi-official..."
9,QCL,Crops and livestock products,79,Germany,5312,Area harvested,1717,"Cereals, Total",1964,1964,ha,7285822,A,"Aggregate, may include official, semi-official..."
10,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",1964,1964,hg/ha,31208,Fc,Calculated data
11,QCL,Crops and livestock products,79,Germany,5510,Production,1717,"Cereals, Total",1964,1964,tonnes,22737326,A,"Aggregate, may include official, semi-official..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",2019,2019,hg/ha,69520,Fc,Calculated data
176,QCL,Crops and livestock products,79,Germany,5510,Production,1717,"Cereals, Total",2019,2019,tonnes,44302400,A,"Aggregate, may include official, semi-official..."
177,QCL,Crops and livestock products,79,Germany,5312,Area harvested,1717,"Cereals, Total",2020,2020,ha,6065200,A,"Aggregate, may include official, semi-official..."
178,QCL,Crops and livestock products,79,Germany,5419,Yield,1717,"Cereals, Total",2020,2020,hg/ha,71333,Fc,Calculated data
179,QCL,Crops and livestock products,79,Germany,5510,Production,1717,"Cereals, Total",2020,2020,tonnes,43265100,A,"Aggregate, may include official, semi-official..."

### Deleting Columns

In [154]:
del chilla["Domain"]
chilla

,Domain Code,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,79,Germany,5312,Area harvested,1717,"Cereals, Total",1961,1961,ha,7138919,A,"Aggregate, may include official, semi-official..."
8,QCL,79,Germany,5510,Production,1717,"Cereals, Total",1963,1963,tonnes,20970320,A,"Aggregate, may include official, semi-official..."
9,QCL,79,Germany,5312,Area harvested,1717,"Cereals, Total",1964,1964,ha,7285822,A,"Aggregate, may include official, semi-official..."
10,QCL,79,Germany,5419,Yield,1717,"Cereals, Total",1964,1964,hg/ha,31208,Fc,Calculated data
11,QCL,79,Germany,5510,Production,1717,"Cereals, Total",1964,1964,tonnes,22737326,A,"Aggregate, may include official, semi-official..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,QCL,79,Germany,5419,Yield,1717,"Cereals, Total",2019,2019,hg/ha,69520,Fc,Calculated data
176,QCL,79,Germany,5510,Production,1717,"Cereals, Total",2019,2019,tonnes,44302400,A,"Aggregate, may include official, semi-official..."
177,QCL,79,Germany,5312,Area harvested,1717,"Cereals, Total",2020,2020,ha,6065200,A,"Aggregate, may include official, semi-official..."
178,QCL,79,Germany,5419,Yield,1717,"Cereals, Total",2020,2020,hg/ha,71333,Fc,Calculated data
179,QCL,79,Germany,5510,Production,1717,"Cereals, Total",2020,2020,tonnes,43265100,A,"Aggregate, may include official, semi-official..."

In [155]:
chilla.drop(["Flag","Domain Code"],axis=1)

,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag Description
0,79,Germany,5312,Area harvested,1717,"Cereals, Total",1961,1961,ha,7138919,"Aggregate, may include official, semi-official..."
8,79,Germany,5510,Production,1717,"Cereals, Total",1963,1963,tonnes,20970320,"Aggregate, may include official, semi-official..."
9,79,Germany,5312,Area harvested,1717,"Cereals, Total",1964,1964,ha,7285822,"Aggregate, may include official, semi-official..."
10,79,Germany,5419,Yield,1717,"Cereals, Total",1964,1964,hg/ha,31208,Calculated data
11,79,Germany,5510,Production,1717,"Cereals, Total",1964,1964,tonnes,22737326,"Aggregate, may include official, semi-official..."
...,...,...,...,...,...,...,...,...,...,...,...
175,79,Germany,5419,Yield,1717,"Cereals, Total",2019,2019,hg/ha,69520,Calculated data
176,79,Germany,5510,Production,1717,"Cereals, Total",2019,2019,tonnes,44302400,"Aggregate, may include official, semi-official..."
177,79,Germany,5312,Area harvested,1717,"Cereals, Total",2020,2020,ha,6065200,"Aggregate, may include official, semi-official..."
178,79,Germany,5419,Yield,1717,"Cereals, Total",2020,2020,hg/ha,71333,Calculated data
179,79,Germany,5510,Production,1717,"Cereals, Total",2020,2020,tonnes,43265100,"Aggregate, may include official, semi-official..."

In [156]:
chilla[chilla["Year Code"]<2005].groupby(["Unit","Element"]).mean("Value")

,,Area Code,Element Code,Item Code,Year Code,Year,Value
Unit,Element,,,,,,
ha,Area harvested,79.0,5312.0,1717.0,1983.452381,1983.452381,7.226688e+06
hg/ha,Yield,79.0,5419.0,1717.0,1984.000000,1984.000000,4.845746e+04
tonnes,Production,79.0,5510.0,1717.0,1983.500000,1983.500000,3.434010e+07

1. <span style=color:green> My question here is what if I want to restrict the mean of the number.
2.  <span style=color:green> For suppose there is no logic in calculating the mean of the year column (series) </span>

## Convert to CSV final Data

In [160]:
chilla.to_csv("faodata_updated.csv")

In [162]:
kamri = pd.read_csv("faodata_updated.csv")

In [163]:
kamri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        173 non-null    int64
 1   Domain Code       173 non-null    object
 2   Area Code         173 non-null    int64
 3   Area              173 non-null    object
 4   Element Code      173 non-null    int64
 5   Element           173 non-null    object
 6   Item Code         173 non-null    int64
 7   Item              173 non-null    object
 8   Year Code         173 non-null    int64
 9   Year              173 non-null    int64
 10  Unit              173 non-null    object
 11  Value             173 non-null    int64
 12  Flag              173 non-null    object
 13  Flag Description  173 non-null    object
dtypes: int64(7), object(7)
memory usage: 19.0+ KB